---

extends: default

rules:
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
  comments:
    level: error
    require-starting-space: true
    min-spaces-from-content: 2
  document-start:
    level: error
  line-length:
    level: warning
    max: 160
    allow-non-breakable-inline-mappings: true
  truthy: disable
